* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-wrapper-width: 1000px;
  --app-wrapper-height: 600px;
  --app-wrapper-padding: 20px 40px;
  --search-bar-width: 60%;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
}

.app-wrapper {
  width: var(--app-wrapper-width);
  height: var(--app-wrapper-height);
  padding: var(--app-wrapper-padding);
}

.search-bar {
  display: flex;
  align-items: center;
  width: var(--search-bar-width);
  height: 50px;
}

.search-bar__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-bar__wrapper-input {
  flex-basis: 43%;
}

.search-bar__input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  outline: none;
}

.search-bar__wrapper-buttons {
  display: flex;
  justify-content: flex-start;
  flex-basis: 55%;
}

.search-bar__button-search {
  width: 30%;
  padding: 8px 0;
  margin-right: 4%;
  border: 1px solid #ddd;
  color: #333333;
  outline: none;
  cursor: pointer;
}

.search-bar__wrapper-add-remove {
  display: flex;
  width: 60%;
}

.search-bar__button-add {
  flex-basis: 50%;
  padding: 8px 0;
  margin-right: 6%;
  border: 1px solid #ddd;
  color: #333333;
  outline: none;
  cursor: pointer;
}

.search-bar__button-remove {
  flex-basis: 50%;
  padding: 8px 0;
  border: 1px solid #ddd;
  color: #333333;
  outline: none;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 500px;
  background-color: lightgreen;
  overflow: hidden;
}

.slider__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* transform: translateX(-100%); */
}

.slider__image-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-width: 100%;
  height: 100%;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4";
}

@media (min-width: 768px) {
  .slider__image-wrapper {
    display: grid;
    grid-template-columns: auto 200px auto 400px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "box1 box1 box1 box2"
      "box3 box3 box4 box4";
  }
}

.slider__inner-box:nth-child(1) {
  grid-area: box1;
  background-color: #ff4136;
}

.slider__inner-box:nth-child(2) {
  grid-area: box2;
  background-color: #3d9970;
}

.slider__inner-box:nth-child(3) {
  grid-area: box3;
  background-color: #0074d9;
}

.slider__inner-box:nth-child(4) {
  grid-area: box4;
  background-color: #ff851b;
}
